<div id="page">
      <div class="login-window">
        <div class="login-window-title">
          <h2>New funeral</h2>
        </div>
        <%= render 'form', booking: @booking %>
        <div class="login-window-clear"></div>
      </div>
</div>
